<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="사이트 제목">
    <meta name="keywords" content="키워드 입력">
    <meta name="description" content="사이트 상세설명">
    <meta name="format-detection" content="telephone=no">
    <meta property="og:site_name" content="사이트명 표시">
    <meta property="og:url" content="url 표기">
    <meta property="og:image" content="대표 이미지 경로">
    <meta property="og:title" content="페이지 제목 표시">
    <meta property="og:description" content="페이지 설명 표시">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="./css/test.css"/>
    <script src="../jquery/jquery-1.12.4.HS-20200709.min.js"></script>
    <script src="../jquery/jquery.screen.js"></script>
    <script src="../slick/slick-version/slick.min.custom.1.8.0.12.js"></script>
    <script src="../slick/common-files/slick.extensions.min.js"></script>
    <script src="./js/test.js"></script>
    <title>깃헙 서버에 브라우저에서 저장</title>
</head>
<body>
<form action="">
    <fieldset>
        <legend></legend>
        <input type="text" title="" id="userName"/>
        <button type="submit" id="testBtn" class="test_btn">저장 버튼</button>
    </fieldset>
</form>
</body>