<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="사이트 제목">
    <meta name="keywords" content="키워드 입력">
    <meta name="description" content="사이트 상세설명">
    <meta name="format-detection" content="telephone=no">
    <meta property="og:site_name" content="사이트명 표시">
    <meta property="og:url" content="url 표기">
    <meta property="og:image" content="대표 이미지 경로">
    <meta property="og:title" content="페이지 제목 표시">
    <meta property="og:description" content="페이지 설명 표시">
    <meta property="og:type" content="website">
    <link rel="stylesheet" type="text/css" href="/site//css/font.css">
    <link rel="stylesheet" type="text/css" href="/site//css/sub.css">
    <script src="/site//js/jquery-1.12.4.HS-20200709.min.js"></script>
    <script src="/site//js/jquery.screen.min.custom.1.0.2.js"></script>
    <script src="/site//js/slick.min.custom.1.8.0.14.js"></script>
    <script src="/site//js/slick.extensions.min.js"></script>
    <script src="/site//js/common.js"></script>
    <script src="/site//js/sub.js"></script>
    <script src="/common/js/board.js"></script>
    <script src="/site//js/template.js"></script>
    <script src="/site//js/program.js"></script>
    <title>서브 레이아웃</title>
</head>
<body id="sub" class="sub">
<!--// 메인레이아웃 id="main" class="main" -->
<!--// 서브레이아웃 id="sub" class="sub" -->
<div class="accessibility">
    <a href="#contents">본문 바로가기</a>
</div>    <!--//accessibility-->
<div id="wrapper">
    <header id="header">
        <div class="header_top">
            <div class="wrap">
                <div class="gnb">
                    <ul class="gnb_list">
                        <li class="gnb_item"><a href="" class="link"><span><em></em></span></a></li>
                    </ul>    <!--//gnb_list-->
                </div>    <!--//gnb-->
                <div class="etc_box">
                    <div class="sign_list">
                        <div class="sign_item login"><a href="" class="btn"><span>로그인</span></a></div>
                        <div class="sign_item signup"><a href="" class="btn"><span>회원가입</span></a></div>
                        <!--<div class="sign_item logout"><a href="" class="btn"><span>로그아웃</span></a></div>-->
                    </div>    <!--//sign_list-->
                    <div class="sitemap_box"><a href="" class="btn sitemap"><span>사이트맵</span></a></div>
                </div>    <!--//etc_box-->
            </div>    <!--//wrap-->
        </div>    <!--//header_top-->
        <div class="header_box">
            <div class="wrap">
                <h1 class="logo">
                    <a href="./index.do" class="logo_link">
                        <img src="" alt="" class="logo_img" />
                        <span class="logo_text">로고텍스트</span>
                    </a>    <!--//logo_link-->
                </h1>    <!--//logo-->
                <div class="info_box">
                    <div class="weather">
                        <div class="weather_box">
                            <i class="weather_icon type1">맑음</i>
                            <!--<i class="weather_icon type2">구름조금</i>-->
                            <!--<i class="weather_icon type3">구름많이</i>-->
                            <!--<i class="weather_icon type4">눈</i>-->
                            <!--<i class="weather_icon type5">흐리고 눈</i>-->
                            <!--<i class="weather_icon type6">눈 / 비</i>-->
                            <span class="temperature">27℃</span>
                        </div>    <!--//weather_box-->
                        <div class="dust_box type1">
                            <div class="volume">미세 10㎍/㎥</div>
                            <div class="summation">좋음</div>
                        </div>
                    </div>    <!--//weather-->
                    <div class="member_box">
                        <a href="" class="link">
                            <span class="img_box">
                                <img src="" alt="" class="skip_img" />
                                <i style="background-image:url();" class="fake_img"></i>
                                <!--<i style="background-image:url();" class="no_img"></i>-->
                            </span>
                        </a>    <!--//link-->
                    </div>    <!--//member_box-->
                    <div class="menu_show"><button type="button" title="메인메뉴 열기 버튼" class="menu_button"></button></div>
                </div>    <!--//info_box-->
            </div>    <!--//wrap-->
        </div>    <!--//header_box-->
        <div class="lnb">
            <div class="lnb_top">
                <div class="m_gnb">
                    <ul class="gnb_list">
                        <li class="gnb_item"><a href="" class="link"><span><em></em></span></a></li>
                    </ul>    <!--//gnb_list-->
                </div>    <!--//m_gnb-->
                <div class="m_sign">
                    <div class="sign_item login"><a href="" class="btn"><span>로그인</span></a></div>
                    <div class="sign_item signup"><a href="" class="btn"><span>회원가입</span></a></div>
                    <!--<div class="sign_item logout"><a href="" class="btn"><span>로그아웃</span></a></div>-->
                </div>    <!--//m_sign-->
            </div>    <!--//lnb_top-->
            <nav class="menu eachdown">
                <h2 class="skip">메인 메뉴</h2>
                <div class="depth depth1">
                    <ul class="depth_list depth1_list">
                        <li class="depth_item depth1_item">
                            <a href="" class="depth_text depth1_text"><span><em>1차 메뉴명</em></span></a>
                            <!--<a href="" target="_blank" title="새창" rel="noopener noreferrer" class="depth_text depth1_text"><span><em>1차 메뉴명</em></span></a>-->
                            <div class="depth depth2">
                                <ul class="depth_list depth2_list">
                                    <li class="depth_item depth2_item">
                                        <a href="" class="depth_text depth2_text"><span><em>2차 메뉴명</em></span></a>
                                        <!--<a href="" target="_blank" title="새창" rel="noopener noreferrer" class="depth_text depth2_text"><span><em>2차 메뉴명</em></span></a>-->
                                        <div class="depth depth3">
                                            <ul class="depth_list depth3_list">
                                                <li class="depth_item depth3_item">
                                                    <a href="" class="depth_text depth3_text"><span><em>3차 메뉴</em></span></a>
                                                    <!--<a href="" target="_blank" title="새창" rel="noopener noreferrer" class="depth_text depth3_text"><span><em>3차 메뉴</em></span></a>-->
                                                    <div class="depth depth4">
                                                        <ul class="depth_list depth4_list">
                                                            <li class="depth_item depth4_item">
                                                                <a href="" class="depth_text depth4_text"><span><em>3차 메뉴</em></span></a>
                                                                <!--<a href="" target="_blank" title="새창" rel="noopener noreferrer" class="depth_text depth4_text"><span><em>3차 메뉴</em></span></a>-->
                                                                <div class="depth depth5">
                                                                    <ul class="depth_list depth5_list">
                                                                        <li class="depth_item depth5_item">
                                                                            <a href="" title="선택됨" class="depth_text depth5_text spy"><span><em>3차 메뉴</em></span></a>
                                                                            <!--<a href="" target="_blank" title="새창" rel="noopener noreferrer" class="depth_text depth5_text"><span><em>3차 메뉴</em></span></a>-->
                                                                        </li>    <!--//depth5_item-->
                                                                    </ul>    <!--//depth5_list-->
                                                                </div>    <!--//depth5-->
                                                            </li>    <!--//depth4_item-->
                                                        </ul>    <!--//depth4_list-->
                                                    </div>    <!--//depth4-->
                                                </li>    <!--//depth3_item-->
                                            </ul>    <!--//depth3_list-->
                                        </div>    <!--//depth3-->
                                    </li>    <!--//depth2_item-->
                                </ul>    <!--//depth2_list-->
                            </div>    <!--//depth2-->
                        </li>    <!--//depth1_item-->
                    </ul>    <!--//depth1_list-->
                </div>    <!--//depth1-->
            </nav>    <!--//menu-->
            <div class="menu_hide"><button type="button" class="menu_button">메뉴 닫기</button></div>
        </div>    <!--//lnb-->
        <div class="lnb_curtain"><button type="button">메뉴 닫기</button></div>
        <div class="header_info">
            <div class="info_list">
                <div class="info_item sitemap"><a href="" class="info_link">사이트맵</a></div>
            </div>    <!--//info_list-->
        </div>    <!--//header_info-->
    </header>    <!--//#header-->
    <div id="container">
        <div class="wrap">
            <div id="sub_visual">
                <div class="inner">
                    <div class="title_box"><span class="title">현재 메뉴명</span></div>
                    <div class="print_box"><button type="button" title="프린트 하기" onclick="window.print()" class="btn">프린트</button></div>
                </div>
            </div>    <!--//#sub_visual-->
            <div class="side">
                <div class="side_title">
                    <div class="inner">
                        <span class="title">1차메뉴명</span>
                    </div>
                </div>    <!--//side_title-->
                <div class="side_menu">
                    <nav class="menu">
                        <h2 class="skip">사이드 메뉴</h2>
                        <div class="depth depth1">
                            <ul class="depth_list depth1_list">
                                <li class="depth_item depth1_item">
                                    <a href="" class="depth_text depth1_text"><span><em>1차 메뉴명</em></span></a>
                                    <!--<a href="" target="_blank" title="새창" rel="noopener noreferrer" class="depth_text depth1_text"><span><em>1차 메뉴명</em></span></a>-->
                                    <div class="depth depth2">
                                        <ul class="depth_list depth2_list">
                                            <li class="depth_item depth2_item">
                                                <a href="" class="depth_text depth2_text"><span><em>2차 메뉴명</em></span></a>
                                                <!--<a href="" target="_blank" title="새창" rel="noopener noreferrer" class="depth_text depth2_text"><span><em>2차 메뉴명</em></span></a>-->
                                                <div class="depth depth3">
                                                    <ul class="depth_list depth3_list">
                                                        <li class="depth_item depth3_item">
                                                            <a href="" class="depth_text depth3_text"><span><em>3차 메뉴</em></span></a>
                                                            <!--<a href="" target="_blank" title="새창" rel="noopener noreferrer" class="depth_text depth3_text"><span><em>3차 메뉴</em></span></a>-->
                                                            <div class="depth depth4">
                                                                <ul class="depth_list depth4_list">
                                                                    <li class="depth_item depth4_item">
                                                                        <a href="" class="depth_text depth4_text"><span><em>3차 메뉴</em></span></a>
                                                                        <!--<a href="" target="_blank" title="새창" rel="noopener noreferrer" class="depth_text depth4_text"><span><em>3차 메뉴</em></span></a>-->
                                                                        <div class="depth depth5">
                                                                            <ul class="depth_list depth5_list">
                                                                                <li class="depth_item depth5_item">
                                                                                    <a href="" title="선택됨" class="depth_text depth5_text spy"><span><em>3차 메뉴</em></span></a>
                                                                                    <!--<a href="" target="_blank" title="새창" rel="noopener noreferrer" class="depth_text depth5_text"><span><em>3차 메뉴</em></span></a>-->
                                                                                </li>    <!--//depth5_item-->
                                                                            </ul>    <!--//depth5_list-->
                                                                        </div>    <!--//depth5-->
                                                                    </li>    <!--//depth4_item-->
                                                                </ul>    <!--//depth4_list-->
                                                            </div>    <!--//depth4-->
                                                        </li>    <!--//depth3_item-->
                                                    </ul>    <!--//depth3_list-->
                                                </div>    <!--//depth3-->
                                            </li>    <!--//depth2_item-->
                                        </ul>    <!--//depth2_list-->
                                    </div>    <!--//depth2-->
                                </li>    <!--//depth1_item-->
                            </ul>    <!--//depth1_list-->
                        </div>    <!--//depth1-->
                    </nav>    <!--//menu-->
                </div>    <!--//side_menu-->
            </div>    <!--//side-->
            <div id="colgroup">
                <div class="sub_head">
                    <div class="path_box">
                        <ul class="path_list">
                            <li class="path_item home">
                                <a href="" class="path_link">홈</a>
                            </li>
                            <li class="path_item">
                                <a href="" class="path_link">1차메뉴명</a>
                            </li>
                            <li class="path_item">
                                <a href="" class="path_link">2차메뉴명</a>
                            </li>
                            <li class="path_item">
                                <a href="" class="path_link">선택된 마지막 메뉴명</a>
                            </li>
                        </ul>    <!--//path_list-->
                    </div>    <!--//path_box-->
                    <div class="tab_box">
                        <ul class="tab_list">
                            <li class="gp_tab_item active"><a href="" title="선택됨" class="gp_tab_btn"><span><em>텝메뉴 체크된 상태</em></span></a></li>
                            <li class="gp_tab_item"><a href="" target="_blank" title="새창" rel="noopener noreferrer" class="gp_tab_btn"><span><em>텝메뉴</em></span></a></li>
                            <li class="gp_tab_item"><a href="" class="gp_tab_btn"><span><em>텝메뉴 두줄일 때 <br/>텝메뉴 두줄</em></span></a></li>
                            <li class="gp_tab_item"><a href="" class="gp_tab_btn"><span><em>텝메뉴</em></span></a></li>
                            <li class="gp_tab_item"><a href="" class="gp_tab_btn"><span><em>텝메뉴</em></span></a></li>
                        </ul>
                    </div>    <!--//gp_tab_box-->
                </div>    <!--//sub_head-->
                <div id="contents">
                </div>    <!--//contents-->
            </div>    <!--//#colgroup-->
        </div>    <!--//wrap-->
    </div>    <!--//#container-->
    <div class="top_go"><button type="button" class="btn">TOP</button></div>
    <footer id="footer">
        <div class="wrap">
            <div class="footer_top">
                <div class="family_box">
                    <div class="family_item">
                        <button type="button" title="하위 리스트 열기" class="site_open"><span>부설 그룹 1</span></button>
                        <ul class="site_list">
                            <li class="site_item"><a href="" target="_blank" title="새창" rel="noopener noreferrer" class="site_link"><em>부설사이트</em></a></li>
                            <li class="site_item"><a href="" target="_blank" title="새창" rel="noopener noreferrer" class="site_link"><em>부설사이트</em></a></li>
                            <li class="site_item"><a href="" target="_blank" title="새창" rel="noopener noreferrer" class="site_link"><em>부설사이트</em></a></li>
                        </ul>    <!--//site_list-->
                    </div>    <!--//family_item-->
                    <div class="family_item">
                        <button type="button" title="하위 리스트 열기" class="site_open"><span>부설 그룹 2</span></button>
                        <ul class="site_list">
                            <li class="site_item"><a href="" target="_blank" title="새창" rel="noopener noreferrer" class="site_link"><em>부설사이트</em></a></li>
                            <li class="site_item"><a href="" target="_blank" title="새창" rel="noopener noreferrer" class="site_link"><em>부설사이트</em></a></li>
                            <li class="site_item"><a href="" target="_blank" title="새창" rel="noopener noreferrer" class="site_link"><em>부설사이트</em></a></li>
                        </ul>    <!--//site_list-->
                    </div>    <!--//family_item-->
                    <div class="family_item">
                        <button type="button" title="하위 리스트 열기" class="site_open"><span>부설 그룹 3</span></button>
                        <ul class="site_list">
                            <li class="site_item"><a href="" target="_blank" title="새창" rel="noopener noreferrer" class="site_link"><em>부설사이트</em></a></li>
                            <li class="site_item"><a href="" target="_blank" title="새창" rel="noopener noreferrer" class="site_link"><em>부설사이트</em></a></li>
                            <li class="site_item"><a href="" target="_blank" title="새창" rel="noopener noreferrer" class="site_link"><em>부설사이트</em></a></li>
                        </ul>    <!--//site_list-->
                    </div>    <!--//family_item-->
                    <div class="family_item">
                        <button type="button" title="하위 리스트 열기" class="site_open"><span>부설 그룹 4</span></button>
                        <ul class="site_list">
                            <li class="site_item"><a href="" target="_blank" title="새창" rel="noopener noreferrer" class="site_link"><em>부설사이트</em></a></li>
                            <li class="site_item"><a href="" target="_blank" title="새창" rel="noopener noreferrer" class="site_link"><em>부설사이트</em></a></li>
                            <li class="site_item"><a href="" target="_blank" title="새창" rel="noopener noreferrer" class="site_link"><em>부설사이트</em></a></li>
                        </ul>    <!--//site_list-->
                    </div>    <!--//family_item-->
                    <div class="family_item">
                        <button type="button" title="하위 리스트 열기" class="site_open"><span>부설 그룹 5</span></button>
                        <ul class="site_list">
                            <li class="site_item"><a href="" target="_blank" title="새창" rel="noopener noreferrer" class="site_link"><em>부설사이트</em></a></li>
                            <li class="site_item"><a href="" target="_blank" title="새창" rel="noopener noreferrer" class="site_link"><em>부설사이트</em></a></li>
                            <li class="site_item"><a href="" target="_blank" title="새창" rel="noopener noreferrer" class="site_link"><em>부설사이트</em></a></li>
                        </ul>    <!--//site_list-->
                    </div>    <!--//family_item-->
                </div>    <!--//family_box-->
            </div>    <!--//footer_top-->
            <div class="footer_box">
                <div class="f_logo">
                    <a href="./index.do" class="logo_link">
                        <img src="" alt="" class="logo_img" />
                        <span class="logo_text">로고텍스트</span>
                    </a>    <!--//logo_link-->
                </div>    <!--//logo-->
                <ul class="f_link_list">
                    <li class="f_link_item"><a href="" target="_blank" title="저작권보호정책 새창 이동" rel="noopener noreferrer" class="link"><span>저작권보호정책</span></a></li>
                    <li class="f_link_item point"><a href="" target="_blank" title="개인정보 처리방침 새창 이동" rel="noopener noreferrer" class="link"><span>개인정보 처리방침</span></a></li>
                    <li class="f_link_item"><a href="" class="link"><span>사이트맵</span></a></li>
                    <li class="f_link_item"><a href="" class="link"><span>오시는길</span></a></li>
                    <li class="f_link_item"><a href="" target="_blank" title="뷰어다운로드 새창 이동" rel="noopener noreferrer" class="link"><span>뷰어 다운로드</span></a></li>
                </ul>    <!--//f_link_list-->
                <ul class="info_list">
                    <li class="info_item"><address>(12417) 경기도 가평군 가평읍 석봉로 181</address></li>
                    <li class="info_item"><span>Tel. 031-580-2114</span></li>
                    <li class="info_item"><span>Fax. 031-580-2159</span></li>
                </ul>    <!--//info_list-->
            </div>    <!--//footer_box-->
            <div class="footer_bottom">
                <p class="copyright">Copyright ⓒ GaPyeong-Gun.<br /> All rights reserved.</p>
                <p class="copyright_desc">본 사이트에 게시된 이메일주소는 자동수집을 거부하며, 이를 위반 시 정보통신망법에 의해 처벌될 수 있습니다.</p>
            </div>    <!--//footer_bottom-->
        </div>    <!--//wrap-->
    </footer>    <!--//#footer-->
</div>    <!--//wrapper-->
</body>
</html>