@charset "UTF-8";

/* font */
@font-face{
    font-family:'notoSans';
    font-weight:200;
    src:url('../../font/NotoSansKR/NotoSansKR-Thin.woff2') format('woff2');
}
@font-face{
    font-family:'notoSans';
    font-weight:400;
    src:url('../../font/NotoSansKR/NotoSansKR-Regular.woff2') format('woff2');
}
@font-face{
    font-family:'notoSans';
    font-weight:600;
    src:url('../../font/NotoSansKR/NotoSansKR-Bold.woff2') format('woff2');
}
@font-face{
    font-family:'notoSans';
    font-weight:800;
    src:url('../../font/NotoSansKR/NotoSansKR-Black.woff2') format('woff2');
}

/* common */
body{font-family:'notoSans','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;letter-spacing:-0.03em;}
body::-webkit-scrollbar{display:none;}
.container{display:block;width:100%;}
.container .section_inner{display:block;width:100%;padding:0 calc(50% - 700px);}

/* header */
#header{display:block;position:absolute;left:0;top:0;width:100%;}

/* copy buttons */
.button_wrap{display:block;width:100%;font-size:0;line-height:0;text-align:center;}
.copy_box{display:inline-block;position:relative;vertical-align:top;}
.copy_box + .copy_box{margin-left:30px;}
.copy_box .copy{display:block;overflow:hidden;position:relative;width:200px;height:50px;padding:0 20px;border-radius:10px;box-sizing:border-box;}
.copy_box .copy.html{background-color:#fffafd;}
.copy_box .copy.css{background-color:#f9faff;}
.copy_box .copy.javascript{background-color:#fffaf9;}
.copy_box .copy:before{display:block;position:absolute;right:0;top:0;width:0;height:100%;transition:width 0.3s, background-color 0.1s;content:'';}
.copy_box .copy:hover:before{right:auto;left:0;width:100%;}
.copy_box .copy.html:before{background-color:#e05;}
.copy_box .copy.css:before{background-color:#09f;}
.copy_box .copy.javascript:before{background-color:#f90;}
.copy_box .copy.html:active:before{background-color:#903;}
.copy_box .copy.css:active:before{background-color:#06b;}
.copy_box .copy.javascript:active:before{background-color:#b60;}
.copy_box .copy:after{display:block;position:absolute;left:0;top:0;width:calc(100% - 4px);height:calc(100% - 4px);border-radius:10px;border:solid 2px;pointer-events:none;content:'';}
.copy_box .copy.html:after{border-color:#a03;}
.copy_box .copy.css:after{border-color:#06a;}
.copy_box .copy.javascript:after{border-color:#a60;}
.copy_box .copy span{display:block;position:relative;}
.copy_box .copy span em{font-weight:600;font-size:18px;line-height:20px;color:#fff;mix-blend-mode:difference;}
.copy_box .copy + .copy_text{display:block;opacity:0;position:absolute;left:0;top:0;width:0;height:0;margin:0;padding:0;font-size:0;line-height:0;background-color:transparent;color:transparent;box-sizing:border-box;}

/* visual */
.template_visual{display:block;width:100%;height:400px;background-image:url(../img/template_visual01.jpg);background-position:center center;background-size:cover;background-repeat:no-repeat;}
.template_visual .title{display:block;position:relative;top:50%;font-weight:800;font-size:40px;line-height:46px;color:#fff;text-align:center;transform:translateY(-50%);text-shadow:0 0 40px rgba(0, 0, 0, 0.2)}