@charset "UTF-8";

/* template common - S */
.section_inner{display:block;width:100%;padding:0 calc(50% - 700px) 200px;box-sizing:border-box;}
.skip_img{display:block;overflow:hidden;position:absolute;left:0;top:0;width:0;height:0;font-size:0;line-height:0;}
@media all and (max-width:1490px){
    .section_inner{padding:0 3%;box-sizing:border-box;}
}
/* template common - E */

/* tab menu - S */
/* tab menu common */
.tab_wrap{display:block;width:100%;}
.tab_wrap .tab_menu{display:block;position:relative;width:100%;font-size:0;line-height:0;}
.tab_wrap .tab_menu .tab_open{display:none;}
.tab_wrap .tab_menu .tab_list{display:block;width:100%;}
.tab_wrap .tab_menu .tab_list .tab_item{display:inline-block;position:relative;z-index:0;vertical-align:top;}
.tab_wrap .tab_menu .tab_list .tab_item.active{z-index:1;}
.tab_wrap .tab_menu .tab_list .tab_item .btn{display:block;width:100%;height:100%;text-align:center;box-sizing:border-box;}
.tab_wrap .tab_menu .tab_list .tab_item .btn span{display:block;width:100%;}
.tab_wrap .tab_menu .tab_list .tab_item a.btn span{position:relative;top:50%;transform:translateY(-50%);}
.tab_wrap .tab_menu .tab_list .tab_item .btn span em{display:inline;}
.tab_wrap .tab_contents{display:block;width:100%;}
.tab_wrap .tab_contents .content_item{display:none;width:100%;padding-top:30px;}
.tab_wrap .tab_contents .content_item.active{display:block;}
/* tab menu type1 */
.tab_wrap .tab_menu.type1 .tab_list{padding-top:1px;}
.tab_wrap .tab_menu.type1 .tab_list .tab_item{height:50px;margin-top:-1px;margin-left:-1px;}
.tab_wrap .tab_menu.type1 .tab_list .tab_item .btn{padding:0 20px;border-radius:0;border:solid 1px #aaa;transition-property:border, background-color;transition-duration:0.3s;box-sizing:border-box;}
.tab_wrap .tab_menu.type1 .tab_list .tab_item.active .btn{background-color:#555;}
.tab_wrap .tab_menu.type1 .tab_list .tab_item .btn span em{font-weight:400;font-size:20px;line-height:24px;color:#aaa;word-break:keep-all;transition-property:color;transition-duration:0.3s;}
.tab_wrap .tab_menu.type1 .tab_list .tab_item.active .btn span em{color:#fff;}
/* tab menu type1 [data-row="1"] */
.tab_wrap .tab_menu.type1[data-row="1"] .tab_list .tab_item{width:calc((100% / 1) + 1px);}
.tab_wrap .tab_menu.type1[data-row="1"] .tab_list .tab_item:nth-child(1n + 1){width:calc(100% / 1);margin-left:0;}
/* tab menu type1 [data-row="2"] */
.tab_wrap .tab_menu.type1[data-row="2"] .tab_list .tab_item{width:calc((100% / 2) + 1px);}
.tab_wrap .tab_menu.type1[data-row="2"] .tab_list .tab_item:nth-child(2n + 1){width:calc(100% / 2);margin-left:0;}
/* tab menu type1 [data-row="3"] */
.tab_wrap .tab_menu.type1[data-row="3"] .tab_list .tab_item{width:calc((100% / 3) + 1px);}
.tab_wrap .tab_menu.type1[data-row="3"] .tab_list .tab_item:nth-child(3n + 1){width:calc(100% / 3);margin-left:0;}
/* tab menu type1 [data-row="4"] */
.tab_wrap .tab_menu.type1[data-row="4"] .tab_list .tab_item{width:calc((100% / 4) + 1px);}
.tab_wrap .tab_menu.type1[data-row="4"] .tab_list .tab_item:nth-child(4n + 1){width:calc(100% / 4);margin-left:0;}
/* tab menu type1 [data-row="5"] */
.tab_wrap .tab_menu.type1[data-row="5"] .tab_list .tab_item{width:calc((100% / 5) + 1px);}
.tab_wrap .tab_menu.type1[data-row="5"] .tab_list .tab_item:nth-child(5n + 1){width:calc(100% / 5);margin-left:0;}
/* tab menu type1 [data-row="6"] */
.tab_wrap .tab_menu.type1[data-row="6"] .tab_list .tab_item{width:calc((100% / 6) + 1px);}
.tab_wrap .tab_menu.type1[data-row="6"] .tab_list .tab_item:nth-child(6n + 1){width:calc(100% / 6);margin-left:0;}
.tab_wrap .tab_menu.type1 .tab_list{padding-top:1px;}
/* tab menu type2 */
.tab_wrap .tab_menu.type2 .tab_list .tab_item{height:50px;}
.tab_wrap .tab_menu.type2 .tab_list .tab_item .btn{padding:0 20px;box-sizing:border-box;}
.tab_wrap .tab_menu.type2 .tab_list .tab_item .btn span em{font-weight:400;font-size:20px;line-height:24px;color:#aaa;word-break:keep-all;}
.tab_wrap .tab_menu.type2 .tab_list .tab_item.active .btn span em{color:#09f;}
/* effect_fade */
.tab_wrap .tab_menu.effect_fade + .tab_contents{position:relative;}
.tab_wrap .tab_menu.effect_fade + .tab_contents > .content_item{opacity:0;visibility:hidden;transition:opacity,visibility;transition-duration:0.3s;}
.tab_wrap .tab_menu.effect_fade + .tab_contents > .content_item.active{display:block;position:absolute;left:0;top:0;}
.tab_wrap .tab_menu.effect_fade + .tab_contents > .content_item.on{opacity:1;visibility:visible;}
.tab_wrap .tab_menu.effect_fade + .tab_contents > .content_item.active.on{position:static;}
/* tab menu responsive */
@media all and (max-width:1000px){
    .tab_wrap .tab_menu.responsive .tab_open{display:block;width:100%;height:50px;border:solid 1px #aaa;}
    .tab_wrap .tab_menu.responsive .tab_open span em{font-weight:600;font-size:18px;line-height:22px;color:#999;}
    .tab_wrap .tab_menu.responsive .tab_list{display:none;position:absolute;z-index:1;overflow:hidden;left:0;top:100%;width:100%;background-color:#444;}
    .tab_wrap .tab_menu.responsive .tab_list .tab_item,
    .tab_wrap .tab_menu.type1.responsive .tab_list .tab_item:nth-child(n){display:block;width:100%;height:auto;margin:0;}
    .tab_wrap .tab_menu.responsive .tab_list .tab_item .btn{padding:10px;box-sizing:border-box;}
    .tab_wrap .tab_menu.responsive .tab_list .tab_item.active .btn{background-color:#666;}
}
/* tab menu - E */

/* slick slide - S */
/* slick basic common - S */
.slick-slider{position:relative;display:block;box-sizing:border-box;}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0;box-sizing:border-box;}
.slick-list:focus{outline:none;}
.slick-list.dragging{cursor:pointer;}
.slick-track{ position:relative;top:0;left:0;display:block;}
.slick-track:before,.slick-track:after{display:table;content:'';}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{display:none;float:left;height:100%;min-height:1px;}
[dir='rtl'] .slick-slide{float:right;}
.slick-slide img{display:block;width:100%;}
.slick-slide.slick-loading img{display:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent;}
#scrollbar{display:block;visibility:hidden;overflow-x:scroll;overflow-y:scroll;position:absolute;top:-100px;left:-100px;z-index:-1;width:100px;height:100px;}
/* slick basic common - E */
/* slick common */
.slick_wrap{display:block;overflow:hidden;width:100%;}
.slick_wrap .slick-slider{font-size:0;line-height:0;}
.slick_wrap .slick-slider .slick-slide .link{display:block;position:relative;width:100%;text-decoration:none;}
.slick_wrap .slick-slider .slick-slide .link .img_box{display:block;position:relative;width:100%;height:auto;}
.slick_wrap .slick-slider .slick-slide .link .img_box .fake_img{display:block;position:absolute;left:0;top:0;width:100%;height:100%;background-size:cover;background-position:center center;background-repeat:no-repeat;}
.slick_wrap .slick-slider .slick-slide .link .text_box{display:block;padding:15px;box-sizing:border-box;}
.slick_wrap .slick-slider .slick-slide .link .text_box .title{display:block;width:100%;}
.slick_wrap .slick-slider .slick-slide .link .text_box .desc{display:block;width:100%;}
.slick_wrap ~ .button_wrap{display:block;width:100%;height:0;padding:0;font-size:0;line-height:0;text-align:center;}
.slick_wrap ~ .button_wrap .button_box{display:block;position:absolute;}
.slick_wrap ~ .button_wrap .button_box.prev{left:-25px;top:50%;transform:translateY(-50%);}
.slick_wrap ~ .button_wrap .button_box.next{right:-25px;top:50%;transform:translateY(-50%);}
.slick_wrap ~ .button_wrap .button_box .btn{display:block;position:relative;width:50px;height:50px;border-radius:100%;border:solid 3px #fff;background-color:rgba(255, 255, 255, 0.5);pointer-events:initial;}
.slick_wrap ~ .button_wrap .button_box .btn:before{display:block;position:absolute;left:calc(50% - 15px);top:calc(50% - 15px);width:30px;height:30px;background-image:url(../images/template/temp_slider_icon_sprite.png);background-size:100%;content:'';}
.slick_wrap ~ .button_wrap .button_box.prev .btn:before{transform:rotate(180deg);}
.slick_wrap ~ .button_wrap .slick-dots{display:block;position:absolute;left:0;bottom:15px;width:100%;pointer-events:none;}
.slick_wrap ~ .button_wrap .slick-dots li{display:inline-block;vertical-align:top;}
.slick_wrap ~ .button_wrap .slick-dots li + li{margin-left:10px;}
.slick_wrap ~ .button_wrap .slick-dots li button{display:block;width:8px;height:8px;border-radius:100%;background-color:rgba(0, 0, 0, 0.2);transition-property:background-color;transition-duration:0.3s;pointer-events:initial;}
.slick_wrap ~ .button_wrap .slick-dots li.slick-active button{background-color:#f90;}
.slick_wrap ~ .control_box{display:block;position:absolute;right:30px;bottom:-25px;padding:15px 30px;border-radius:10px;background-color:#fff;font-size:0;line-height:0;}
.slick_wrap ~ .control_box > div{display:inline-block;margin:0 5px;vertical-align:top;}
.slick_wrap ~ .control_box .button_box .btn{display:block;position:relative;width:30px;height:30px;border-radius:100%;background-color:rgba(0, 0, 0, 0.2);}
.slick_wrap ~ .control_box .button_box .btn:before{display:block;position:absolute;left:calc(50% - 10px);top:calc(50% - 10px);width:20px;height:20px;background-image:url(../images/template/temp_slider_icon_sprite.png);background-size:100%;content:'';}
.slick_wrap ~ .control_box .button_box.prev .btn:before{transform:rotate(180deg);}
.slick_wrap ~ .control_box .button_box.auto .btn.slick-play:before{background-position-y:-100%;}
.slick_wrap ~ .control_box .button_box.auto .btn.slick-pause:before{background-position-y:-200%;}
.slick_wrap ~ .control_box .button_box.more .btn:before{background-position-y:-300%;}
.slick_wrap ~ .control_box .num_box span{display:inline-block;font-weight:400;font-size:18px;line-height:30px;vertical-align:top;}
.slick_wrap ~ .control_box .num_box .number.total{color:#aaa;}
.slick_wrap ~ .control_box .num_box .split{margin:0 5px;}
/* slick full */
.slick_full{position:relative;margin-top:20px;}
.slick_full .slick-list .link .img_box{padding-top:20%;}
.slick_full .slick-list .link .text_box{position:absolute;left:0;top:50%;width:100%;transform:translateY(-50%);}
.slick_full .slick-list .link .text_box .title{font-weight:600;font-size:32px;line-height:38px;color:#000;}
.slick_full .slick-list .link .text_box .desc{font-weight:400;font-size:20px;line-height:26px;color:#333;}
/* slick list */
.slick_list{position:relative;margin-top:20px;}
.slick_list .slick-list{margin:0 -20px;}
.slick_list .slick-list .slick-slide{margin:0 20px;}
.slick_list .slick-list .slick-slide .slick-rows > div{box-sizing:border-box;}
.slick_list .slick-list .slick-slide .slick-rows > div .link .img_box{padding-top:50%;}
.slick_list .slick-list .slick-slide .slick-rows > div .link .text_box .title{font-weight:600;font-size:24px;line-height:30px;color:#ddd;}
.slick_list .slick-list .slick-slide .slick-rows > div .link .text_box .desc{font-weight:400;font-size:18px;line-height:24px;color:#999;}
/* slick slide - E */

/* 제목 */
h3, .h3, h4, .h4, h5, .h5, h6, .h6{display:block;font-weight:600;word-break:keep-all;}
h3, .h3{font-size:28px;line-height:36px;color:#333;}
h4, .h4{font-size:24px;line-height:32px;color:#444;}
h5, .h5{font-size:22px;line-height:32px;color:#555;}
h6, .h6{font-size:20px;line-height:30px;color:#666;}
.sub_title{display:inline;font-weight:inherit;line-height:inherit;word-break:inherit;}
h3 .sub_title, .h3 .sub_title{font-size:20px;color:#aaa;}
h4 .sub_title, .h4 .sub_title{font-size:18px;color:#bbb;}

/* 강조 */
.em_blue, .em_red, .em_orange, .em_purple, .em_green, .em_brown,
.em_b, .em_b_blue, .em_b_red, .em_b_orange, .em_b_purple, .em_b_green, .em_b_brown,
.em_r, .em_r_blue, .em_r_red, .em_r_orange, .em_r_purple, .em_r_green, .em_r_brown,
.em_l, .em_l_blue, .em_l_red, .em_l_orange, .em_l_purple, .em_l_green, .em_l_brown{display:inline;font-size:inherit;line-height:inherit;letter-spacing:inherit;word-break:inherit;}
.em_blue, .em_red, .em_orange, .em_purple, .em_green, .em_brown{font-weight:inherit;}
.em_b, .em_b_blue, .em_b_red, .em_b_orange, .em_b_purple, .em_b_green, .em_b_brown{font-weight:600;}
.em_r, .em_r_blue, .em_r_red, .em_r_orange, .em_r_purple, .em_r_green, .em_r_brown{font-weight:400;}
.em_l, .em_l_blue, .em_l_red, .em_l_orange, .em_l_purple, .em_l_green, .em_l_brown{font-weight:200;}
.em_blue, .em_b_blue, .em_l_blue{color:#09f;}
.em_red, .em_b_red, .em_l_red{color:#f09;}
.em_orange, .em_b_orange, .em_l_orange{color:#f90;}
.em_purple, .em_b_purple, .em_l_purple{color:#90f;}
.em_green, .em_b_green, .em_l_green{color:#0f9;}
.em_brown, .em_b_brown, .em_l_brown{color:#a60;}

/* 주의 */
.warning{position:relative;padding:0 0 0 40px;font-weight:400;font-size:18px;line-height:32px;color:#73a6cc;letter-spacing:-0.03em;text-align:left;word-break:keep-all;box-sizing:border-box;}
div.warning, p.warning{display:block;}
span.warning{display:inline-block;vertical-align:top;}
.warning.type2{color:#e13c3c;}
.warning.type3{color:#489d7f;}
.warning.type4{color:#d09d9d;}
.warning:before{display:block;position:absolute;left:0;top:0;width:30px;height:30px;background-image:url(../images/template/temp_warning_icon_sprite.png);background-size:100%;content:'';}
.warning.type2:before{background-position-y:-100%;}
.warning.type3:before{background-position-y:-200%;}
.warning.type4:before{background-position-y:-300%;}

/* 순서 없는 리스트 */
.bu, .bu2, .bu3, .blt, .blt2, .blt3{display:block;width:100%;}
.blt, .bu li{display:block;position:relative;padding-left:14px;font-weight:400;font-size:18px;line-height:30px;color:#aaa;letter-spacing:-0.01em;text-align:left;}
.blt:before, .bu > li:before{display:block;position:absolute;left:0;top:10px;width:5px;height:5px;border-radius:100%;background-color:#2683da;content:'';}
.bu li ul, .num li ul{display:block;padding-top:6px;}
.blt2, .bu li .blt, .bu li li, .num li ul li, .bu2 li{display:block;position:relative;padding-left:14px;font-weight:400;font-size:17px;line-height:28px;color:#999;text-align:left;}
.blt2:before, .bu li .blt:before, .bu li li:before, .num li ul li:before, .bu2 li:before{display:block;position:absolute;left:0;top:12px;width:5px;height:2px;background-color:#aeaeae;content:'';}
.bu li li ul, .num li li ul{display:block;padding-top:4px;}
.blt3, .bu li li .blt, .bu li li li, .num li li ul li, .bu3 li{display:block;position:relative;padding-left:13px;font-weight:400;font-size:16px;line-height:26px;color:#777;text-align:left;}
.blt3:before, .bu li li .blt:before, .bu li li li:before, .num li li ul li:before, .bu3 li:before{display:block;position:absolute;left:2px;top:12px;width:2px;height:2px;background-color:#bababa;content:'';}
/* 순서 있는 리스트 */
.num, .num2{display:block;width:100%;}
.num li{display:block;position:relative;padding-left:27px;font-weight:400;font-size:18px;line-height:30px;color:#aaa;letter-spacing:-0.01em;text-align:left;}
.num > li .number{display:block;position:absolute;left:0;top:3px;width:20px;height:20px;border-radius:100%;border:solid 1px #427fce;background-color:#427fce;font-weight:600;font-size:11px;line-height:18px;color:#fff;text-align:center;font-family:'open','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;box-sizing:border-box;}
.num li ol, .bu li ol{display:block;padding-top:11px;}
.num li li, .bu li ol li, .num2 li{display:block;position:relative;padding-left:28px;font-weight:400;font-size:17px;line-height:28px;color:#999;text-align:left;}
.num li li .number, .bu li ol li .number, .num2 li .number{display:block;position:absolute;left:0;top:3px;width:20px;height:20px;border-radius:100%;border:none;background-color:#f3f8fb;font-weight:600;font-size:11px;line-height:20px;color:#4e4e4e;text-align:center;font-family:'open','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;content:'';}
/* 리스트 타이틀 */
li > .lt, .blt > .lt, .blt2 > .lt, .blt3 > .lt{display:inline;margin-right:5px;font-weight:600;font-size:inherit;line-height:inherit;color:inherit;}
li > .ld, .blt > .ld, .blt2 > .ld, .blt3 > .ld{display:inline;font-weight:inherit;font-size:inherit;line-height:inherit;color:inherit;}

/* 테이블 */
.table_unit{display:block;font-weight:400;font-size:16px;color:#666;line-height:26px;letter-spacing:-0.03em;text-align:right;}
.table{table-layout:fixed;position:relative;width:100%;background-color:#fff;border-top:2px solid #000;border-bottom:1px solid #888;text-align:center;box-sizing:border-box;}
.table:before{display:block;position:absolute;left:0;top:0;width:100%;height:2px;background-color:#000;content:'';}
.table:after{display:block;position:absolute;left:0;bottom:0;width:100%;height:1px;background-color:#888;content:'';}
.table th, .table td{padding:10px 15px;border-width:1px;border-style:solid;font-size:18px;line-height:30px;letter-spacing:-0.03em;word-break:keep-all;}
.table th{border-color:#ddd;background-color:#eee;font-weight:600;color:#333;}
.table td{border-bottom-width:0;border-color:#ddd;font-weight:400;color:#555;}
.table th:first-child,
.table td:first-child{border-left-width:0}
.table th:last-child,
.table td:last-child{border-right-width:0}
.table thead tr + tr th{border-left-width:1px;}
.table tbody th{border-bottom-width:0;}
.table tbody tr:first-child th, .table tbody tr:first-child td{border-top:0;}
.table tbody tr:last-child th, .table tbody tr:last-child td{border-bottom:1px solid #888;}
@media all and (max-width:1500px){
    .table_unit{font-size:15px;line-height:24px;}
    .table td, .table th{font-size:17px;line-height:28px;}
}
@media all and (max-width:1000px){
    /* 테이블 */
    .table_unit{font-size:14px;line-height:22px;}
    .table td, .table th{font-size:16px;line-height:26px;}
    /* 스크롤 테이블 */
    .table_scroll{position:relative;max-width:100%;overflow-x:auto}
    .table_scroll table{min-width:800px}
}
@media all and (max-width:640px){
    /* 테이블 */
    .table_unit{font-size:13px;line-height:20px;}
    .table td, .table th{font-size:15px;line-height:24px;}
    /* 반응형 테이블 */
    .table.responsive colgroup, .table.responsive thead{display:none;}
    .table.responsive tbody tr{display:block;position:relative;padding-top:10px;padding-bottom:10px;}
    .table.responsive tbody tr:nth-child(odd){background-color:#eee;}
    .table.responsive tbody tr + tr{border-top:1px solid #ddd;}
    .table.responsive tbody tr:after{display:block;visibility:hidden;clear:both;height:0;content:".";}
    .table.responsive tbody td, .table.responsive tbody th{display:block;height:auto;padding:5px 3%;border:none !important;background-color:transparent;font-weight:400;text-align:left !important;vertical-align:top;}
    .table.responsive tbody td:before, .table.responsive tbody th:before{display:inline;font-weight:500;font-family:'SUIT', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;content:attr(data-content) " :";}
    .table.responsive tfoot tr{display:block;position:relative;padding-top:10px;padding-bottom:10px;}
    .table.responsive tfoot tr:after{display:block;visibility:hidden;clear:both;height:0;content:".";}
    .table.responsive tfoot tr:nth-child(odd){background:#eee;}
    .table.responsive tfoot tr + tr{border-top:1px solid #ddd;}
    .table.responsive tfoot td, .table.responsive tfoot th{display:block;width:100%;height:auto;padding:5px 3%;border:none;background-color:transparent;text-align:left;vertical-align:top;}
    .table.responsive tfoot td:before, .table.responsive tfoot th:before{display:inline;content:attr(data-content) " :"}
    /* 반응형 세로 테이블 */
    .table.type2.responsive > tbody tr:nth-child(2n-1),
    .table.type2.responsive > tfoot tr:nth-child(2n-1){background-color:#eee;}
    .table.type2.responsive > tbody tr th,
    .table.type2.responsive > tbody tr td,
    .table.type2.responsive > tfoot tr th,
    .table.type2.responsive > tfoot tr td{display:block;position:relative;padding:0 3%;border:none;background-color:transparent;text-align:left;box-sizing:border-box;}
    .table.type2.responsive > tbody tr th:before,
    .table.type2.responsive > tbody tr td:before,
    .table.type2.responsive > tfoot tr th:before,
    .table.type2.responsive > tfoot tr td:before{display:none;}
}

/* 본문 내 링크, 다운로드 */
.text_link, .text_down{display:inline;font-weight:inherit;font-size:inherit;line-height:inherit;color:inherit;letter-spacing:-0.03em;text-decoration:underline;}
.text_link:after, .text_down:after{display:inline-block;width:20px;height:20px;margin-top:3px;margin-left:5px;background-image:url(../images/template/temp_button_icon_sprite.png);background-size:200%;font-size:0;line-height:inherit;vertical-align:top;content:'';}
.text_down:after{background-position-y:-100%;}
@media all and (min-width:1001px){
    .text_link:hover, .text_down:hover{color:#007ae1;}
    .text_link:hover:after, .text_down:hover:after{background-position-x:-100%;}
}

/* 버튼 */
.button_wrap{display:block;width:100%;font-size:0;line-height:0;}
.button_wrap + .button_wrap{margin-top:15px;}
.button_wrap .temp_btn + .temp_btn{margin-left:20px;}
.temp_btn{display:inline-block;position:relative;width:auto;vertical-align:top;}
.temp_btn input{display:block;position:absolute;left:10px;top:10px;width:0;height:0;border:none;background-color:transparent;font-size:0;line-height:0;color:transparent;}
.temp_btn .btn{display:block;position:relative;min-width:200px;width:auto;height:60px;padding:0 20px;border-radius:10px;border:solid 1px #08d;background-color:#08d;text-align:center;transition-property:border, background-color;transition-duration:0.3s;box-sizing:border-box;}
.temp_btn .btn span{display:block;position:relative;font-weight:400;font-size:16px;line-height:26px;color:#fff;transition-property:color;transition-duration:0.3s;}
.temp_btn a.btn span, .temp_btn label.btn span{top:50%;transform:translateY(-50%);}
/* 버튼 사이즈 */
.temp_btn.medium .btn{min-width:140px;height:48px;}
.temp_btn.small .btn{min-width:100px;height:40px;padding:0 15px;}
.temp_btn.medium .btn span{line-height:24px;}
.temp_btn.small .btn span{font-size:15px;line-height:22px;}
/* 버튼 컬러 */
.temp_btn.type2 .btn{border-color:#059;background-color:#059;}
.temp_btn.type3 .btn{border-color:#aaa;background-color:#fff;}
.temp_btn.reverse .btn{background-color:#fff;}
.temp_btn.type2.reverse .btn{border-color:#333;background-color:#fff;}
.temp_btn.type3.reverse .btn{border-color:#ddd;background-color:#ddd;}
.temp_btn.type2 .btn span{color:#fff;}
.temp_btn.type3 .btn span{color:#222;}
.temp_btn.reverse .btn span{color:#08d;}
.temp_btn.type2.reverse .btn span{color:#059;}
.temp_btn.type3.reverse .btn span{color:#666;}
/* 아이콘 버튼 */
.temp_btn.type_icon .btn{padding-right:45px;border-color:#08d;background-color:#08d;text-align:left;}
.temp_btn.type_icon.reverse .btn{background-color:#fff;}
.temp_btn.type_icon .btn .icon{display:block;position:absolute;right:20px;top:50%;z-index:1;width:20px;height:20px;transform:translateY(-50%);pointer-events:none;}
.temp_btn.type_icon .btn .icon:before, .temp_btn .btn .icon:after{display:block;position:absolute;left:0;top:0;width:100%;height:100%;background-image:url(../images/template/temp_button_icon_sprite.png);background-size:200%;transition-property:opacity;transition-duration:0.3s;content:'';}
.temp_btn.type_icon .btn .icon:before{opacity:1;}
.temp_btn.type_icon .btn .icon:after{opacity:0;background-position-x:-100%;}
.temp_btn.type_icon .btn .icon.blank:before, .temp_btn.type_icon .btn .icon.blank:after{background-position-y:0;}
.temp_btn.type_icon .btn .icon.down:before, .temp_btn.type_icon .btn .icon.down:after{background-position-y:-100%;}
.temp_btn.type_icon .btn .icon.search:before, .temp_btn.type_icon .btn .icon.search:after{background-position-y:-200%;}
.temp_btn.type_icon .btn span{color:#fff;}
.temp_btn.type_icon.reverse .btn span{color:#08d;}
/* focus effect */
.temp_btn .btn:focus, .temp_btn input:focus + .btn{outline:2px dotted #000;}
@media all and (min-width:1001px){
    .temp_btn .btn:hover{background-color:#fff;text-decoration:none;cursor:pointer;}
    .temp_btn .btn:hover span{color:#08d;}
    /* 버튼 컬러 */
    .temp_btn.type2 .btn:hover{border-color:#333;background-color:#fff;}
    .temp_btn.type3 .btn:hover{border-color:#ddd;background-color:#ddd;}
    .temp_btn.reverse .btn:hover{background-color:#08d;}
    .temp_btn.type2.reverse .btn:hover{border-color:#059;background-color:#059;}
    .temp_btn.type3.reverse .btn:hover{border-color:#aaa;background-color:#fff;}
    .temp_btn.type2 .btn:hover span{color:#059;}
    .temp_btn.type3 .btn:hover span{color:#666;}
    .temp_btn.reverse .btn:hover span{color:#fff;}
    .temp_btn.type2.reverse .btn:hover span{color:#fff;}
    .temp_btn.type3.reverse .btn:hover span{color:#222;}
    /* 아이콘 버튼 */
    .temp_btn.type_icon .btn:hover{background-color:#fff;}
    .temp_btn.type_icon.reverse .btn:hover{background-color:#08d;}
    .temp_btn.type_icon .btn:hover .icon:before, .temp_btn .btn:hover .icon:after{background-position-x:-100%;}
    .temp_btn.type_icon .btn:hover .icon:before{opacity:0;}
    .temp_btn.type_icon .btn:hover .icon:after{opacity:1;}
    .temp_btn.type_icon .btn:hover span{color:#08d;}
    .temp_btn.type_icon.reverse .btn:hover span{color:#fff;}
}