@charset "UTF-8";

/* template common - S */
.section_inner{display:block;width:100%;padding:0 calc(50% - 700px);box-sizing:border-box;}
.skip_img{display:block;overflow:hidden;position:absolute;left:0;top:0;width:0;height:0;font-size:0;line-height:0;}
@media all and (max-width:1490px){
    .section_inner{padding:0 3%;box-sizing:border-box;}
}
/* template common - E */

/* tab menu - S */
/* tab menu common */
.tab_wrap{display:block;width:100%;}
.tab_wrap .tab_menu{display:block;position:relative;width:100%;font-size:0;line-height:0;}
.tab_wrap .tab_menu .tab_open{display:none;}
.tab_wrap .tab_menu .tab_list{display:block;width:100%;}
.tab_wrap .tab_menu .tab_list .tab_item{display:inline-block;position:relative;z-index:0;vertical-align:top;}
.tab_wrap .tab_menu .tab_list .tab_item.active{z-index:1;}
.tab_wrap .tab_menu .tab_list .tab_item .btn{display:block;width:100%;height:100%;text-align:center;box-sizing:border-box;}
.tab_wrap .tab_menu .tab_list .tab_item .btn span{display:block;width:100%;}
.tab_wrap .tab_menu .tab_list .tab_item a.btn span{position:relative;top:50%;transform:translateY(-50%);}
.tab_wrap .tab_menu .tab_list .tab_item .btn span em{display:inline;}
.tab_wrap .tab_contents{display:block;width:100%;}
.tab_wrap .tab_contents .content_item{display:none;width:100%;padding-top:30px;}
.tab_wrap .tab_contents .content_item.active{display:block;}
/* tab menu type1 */
.tab_wrap .tab_menu.type1 .tab_list{padding-top:1px;}
.tab_wrap .tab_menu.type1 .tab_list .tab_item{height:50px;margin-top:-1px;margin-left:-1px;}
.tab_wrap .tab_menu.type1 .tab_list .tab_item .btn{padding:0 20px;border-radius:0;border:solid 1px #aaa;transition-property:border, background-color;transition-duration:0.3s;box-sizing:border-box;}
.tab_wrap .tab_menu.type1 .tab_list .tab_item.active .btn{background-color:#555;}
.tab_wrap .tab_menu.type1 .tab_list .tab_item .btn span em{font-weight:400;font-size:20px;line-height:24px;color:#aaa;word-break:keep-all;transition-property:color;transition-duration:0.3s;}
.tab_wrap .tab_menu.type1 .tab_list .tab_item.active .btn span em{color:#fff;}
/* tab menu type1 [data-row="1"] */
.tab_wrap .tab_menu.type1[data-row="1"] .tab_list .tab_item{width:calc((100% / 1) + 1px);}
.tab_wrap .tab_menu.type1[data-row="1"] .tab_list .tab_item:nth-child(1n + 1){width:calc(100% / 1);margin-left:0;}
/* tab menu type1 [data-row="2"] */
.tab_wrap .tab_menu.type1[data-row="2"] .tab_list .tab_item{width:calc((100% / 2) + 1px);}
.tab_wrap .tab_menu.type1[data-row="2"] .tab_list .tab_item:nth-child(2n + 1){width:calc(100% / 2);margin-left:0;}
/* tab menu type1 [data-row="3"] */
.tab_wrap .tab_menu.type1[data-row="3"] .tab_list .tab_item{width:calc((100% / 3) + 1px);}
.tab_wrap .tab_menu.type1[data-row="3"] .tab_list .tab_item:nth-child(3n + 1){width:calc(100% / 3);margin-left:0;}
/* tab menu type1 [data-row="4"] */
.tab_wrap .tab_menu.type1[data-row="4"] .tab_list .tab_item{width:calc((100% / 4) + 1px);}
.tab_wrap .tab_menu.type1[data-row="4"] .tab_list .tab_item:nth-child(4n + 1){width:calc(100% / 4);margin-left:0;}
/* tab menu type1 [data-row="5"] */
.tab_wrap .tab_menu.type1[data-row="5"] .tab_list .tab_item{width:calc((100% / 5) + 1px);}
.tab_wrap .tab_menu.type1[data-row="5"] .tab_list .tab_item:nth-child(5n + 1){width:calc(100% / 5);margin-left:0;}
/* tab menu type1 [data-row="6"] */
.tab_wrap .tab_menu.type1[data-row="6"] .tab_list .tab_item{width:calc((100% / 6) + 1px);}
.tab_wrap .tab_menu.type1[data-row="6"] .tab_list .tab_item:nth-child(6n + 1){width:calc(100% / 6);margin-left:0;}
.tab_wrap .tab_menu.type1 .tab_list{padding-top:1px;}
/* tab menu type2 */
.tab_wrap .tab_menu.type2 .tab_list .tab_item{height:50px;}
.tab_wrap .tab_menu.type2 .tab_list .tab_item .btn{padding:0 20px;box-sizing:border-box;}
.tab_wrap .tab_menu.type2 .tab_list .tab_item .btn span em{font-weight:400;font-size:20px;line-height:24px;color:#aaa;word-break:keep-all;}
.tab_wrap .tab_menu.type2 .tab_list .tab_item.active .btn span em{color:#09f;}
/* effect_fade */
.tab_wrap .tab_menu.effect_fade + .tab_contents{position:relative;}
.tab_wrap .tab_menu.effect_fade + .tab_contents > .content_item{opacity:0;visibility:hidden;transition:opacity,visibility;transition-duration:0.3s;}
.tab_wrap .tab_menu.effect_fade + .tab_contents > .content_item.active{display:block;position:absolute;left:0;top:0;}
.tab_wrap .tab_menu.effect_fade + .tab_contents > .content_item.on{opacity:1;visibility:visible;}
.tab_wrap .tab_menu.effect_fade + .tab_contents > .content_item.active.on{position:static;}
/* tab menu responsive */
@media all and (max-width:1000px){
    .tab_wrap .tab_menu.responsive .tab_open{display:block;width:100%;height:50px;border:solid 1px #aaa;}
    .tab_wrap .tab_menu.responsive .tab_open span em{font-weight:600;font-size:18px;line-height:22px;color:#999;}
    .tab_wrap .tab_menu.responsive .tab_list{display:none;position:absolute;z-index:1;overflow:hidden;left:0;top:100%;width:100%;background-color:#444;}
    .tab_wrap .tab_menu.responsive .tab_list .tab_item,
    .tab_wrap .tab_menu.type1.responsive .tab_list .tab_item:nth-child(n){display:block;width:100%;height:auto;margin:0;}
    .tab_wrap .tab_menu.responsive .tab_list .tab_item .btn{padding:10px;box-sizing:border-box;}
    .tab_wrap .tab_menu.responsive .tab_list .tab_item.active .btn{background-color:#666;}
}
/* tab menu - E */

/* slick slide - S */
/* slick basic common - S */
.slick-slider{position:relative;display:block;box-sizing:border-box;}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0;box-sizing:border-box;}
.slick-list:focus{outline:none;}
.slick-list.dragging{cursor:pointer;}
.slick-track{ position:relative;top:0;left:0;display:block;}
.slick-track:before,.slick-track:after{display:table;content:'';}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{display:none;float:left;height:100%;min-height:1px;}
[dir='rtl'] .slick-slide{float:right;}
.slick-slide img{display:block;width:100%;}
.slick-slide.slick-loading img{display:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent;}
#scrollbar{display:block;visibility:hidden;overflow-x:scroll;overflow-y:scroll;position:absolute;top:-100px;left:-100px;z-index:-1;width:100px;height:100px;}
/* slick basic common - E */
/* slick common */
.slick_wrap{display:block;overflow:hidden;width:100%;}
.slick_wrap .slick-slider{font-size:0;line-height:0;}
.slick_wrap .slick-slider .slick-slide .link{display:block;position:relative;width:100%;text-decoration:none;}
.slick_wrap .slick-slider .slick-slide .link .img_box{display:block;position:relative;width:100%;height:auto;}
.slick_wrap .slick-slider .slick-slide .link .img_box .fake_img{display:block;position:absolute;left:0;top:0;width:100%;height:100%;background-size:cover;background-position:center center;background-repeat:no-repeat;}
.slick_wrap .slick-slider .slick-slide .link .text_box{display:block;padding:15px;box-sizing:border-box;}
.slick_wrap .slick-slider .slick-slide .link .text_box .title{display:block;width:100%;}
.slick_wrap .slick-slider .slick-slide .link .text_box .desc{display:block;width:100%;}
.slick_wrap ~ .button_wrap{display:block;width:100%;height:0;padding:0;font-size:0;line-height:0;text-align:center;}
.slick_wrap ~ .button_wrap .button_box{display:block;position:absolute;}
.slick_wrap ~ .button_wrap .button_box.prev{left:-25px;top:50%;transform:translateY(-50%);}
.slick_wrap ~ .button_wrap .button_box.next{right:-25px;top:50%;transform:translateY(-50%);}
.slick_wrap ~ .button_wrap .button_box .btn{display:block;position:relative;width:50px;height:50px;border-radius:100%;border:solid 3px #fff;background-color:rgba(255, 255, 255, 0.5);pointer-events:initial;}
.slick_wrap ~ .button_wrap .slick-dots{display:block;position:absolute;left:0;bottom:15px;width:100%;pointer-events:none;}
.slick_wrap ~ .button_wrap .slick-dots li{display:inline-block;vertical-align:top;}
.slick_wrap ~ .button_wrap .slick-dots li + li{margin-left:10px;}
.slick_wrap ~ .button_wrap .slick-dots li button{display:block;width:8px;height:8px;border-radius:100%;background-color:rgba(0, 0, 0, 0.2);transition-property:background-color;transition-duration:0.3s;pointer-events:initial;}
.slick_wrap ~ .button_wrap .slick-dots li.slick-active button{background-color:#f90;}
.slick_wrap ~ .control_box{display:block;position:absolute;right:30px;bottom:-25px;padding:15px 30px;border-radius:10px;background-color:#fff;font-size:0;line-height:0;}
.slick_wrap ~ .control_box > div{display:inline-block;margin:0 5px;vertical-align:top;}
.slick_wrap ~ .control_box .button_box .btn{width:30px;height:30px;border-radius:100%;background-color:rgba(0, 0, 0, 0.2);}
.slick_wrap ~ .control_box .num_box span{display:inline-block;font-weight:400;font-size:18px;line-height:30px;vertical-align:top;}
.slick_wrap ~ .control_box .num_box .number.total{color:#aaa;}
.slick_wrap ~ .control_box .num_box .split{margin:0 5px;}
/* slick full */
.slick_full{position:relative;margin-top:20px;}
.slick_full .slick-list .link .img_box{padding-top:20%;}
.slick_full .slick-list .link .text_box{position:absolute;left:0;top:50%;width:100%;transform:translateY(-50%);}
.slick_full .slick-list .link .text_box .title{font-weight:600;font-size:32px;line-height:38px;color:#000;}
.slick_full .slick-list .link .text_box .desc{font-weight:400;font-size:20px;line-height:26px;color:#333;}
/* slick list */
.slick_list{position:relative;margin-top:20px;}
.slick_list .slick-list{margin:0 -20px;}
.slick_list .slick-list .slick-slide{margin:0 20px;}
.slick_list .slick-list .slick-slide .slick-rows > div{box-sizing:border-box;}
.slick_list .slick-list .slick-slide .slick-rows > div .link .img_box{padding-top:50%;}
.slick_list .slick-list .slick-slide .slick-rows > div .link .text_box .title{font-weight:600;font-size:24px;line-height:30px;color:#ddd;}
.slick_list .slick-list .slick-slide .slick-rows > div .link .text_box .desc{font-weight:400;font-size:18px;line-height:24px;color:#999;}
/* slick slide - E */

/* title - S */
/* title - E */