@charset "UTF-8";

#userName{display:block;width:200px;height:40px;font-size:18px;line-height:40px;color:#333;}
#testBtn{display:block;width:100px;height:40px;font-size:16px;line-height:40px;color:#555;}